!assets/*.jpeg
!assets/*.jpg
$RECYCLE.BIN/
*$py.class
*.backup
*.bak
*.cab
*.cover
*.csv
*.egg
*.egg-info/
*.elc
*.ipynb_checkpoints
*.jpeg
*.jpg
*.lnk
*.log
*.manifest
*.msi
*.msix
*.msm
*.msp
*.orig
*.pdf
*.png
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.svg
*.swo
*.swp
*.temp
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.tmp
*~
*~
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.dmypy.json
.eggs/
.env
.fseventsd
.fuse_hidden*
.hypothesis/
.idea/
.installed.cfg
.matplotlib/
.mypy_cache/
.nfs*
.nox/
.pdm.toml
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.spyderproject
.spyproject
.tox/
.venv
.vscode/
/.emacs.desktop
/.emacs.desktop.lock
/site
Desktop.ini
ENV/
Icon?
MANIFEST
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
\#*\#
__pycache__/
__pypackages__/
auto-save-list
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
data/data_points.csv
data_points.csv
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
htmlcov/
ipython_config.py
lib/
lib64/
logs/
nosetests.xml
parts/
profile_default/
repomix-output.xml
sdist/
share/python-wheels/
temp/
tmp/
tramp
var/
venv.bak/
venv/
wheels/
